.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: white;}
nav li a{color: white}
body{
    background-color: black;
    color:black;

}