.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: black;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: black;}
nav li a{color: white}

body{
    background-color: black;
    color: white;

}